<p>Hey, you just won the lotto in Nigeria, now let me parse your email.</p>

<p>Upload an email as a text file to get started.</p>

<form method="post" enctype='multipart/form-data'>
	<input type="file" name="file"><br>
	<input type="submit" value="Let's do this!">
</form>