<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title>Win Viagra Free Singles!</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
	<style>
		html {
			font-family:"Roboto";
			background-color: #e65100;
			color: #333;
		}
		h2 {
			margin-left: -30px;
		}
		.date {
			text-align: right;
			color: #e65100;
			font-size: .75rem;
		}
		.info {
			padding: 15px;
			border: 1px solid #aaa;
			background-color: #eee;
			color: #666;
			font-style: italic;
		}
		body {
			max-width: 800px;
			margin: 25px auto;
			padding: 30px;
			border-radius: 5px;
			border: 1px solid #aaa;
			background-color: #fff;
		}
		main {
			padding: 0 30px;
		}
		pre {
			background-color: #ffe0b2;
			border: 1px solid #aaa;
			padding: 20px;
		}
		.html {
			padding: 20px;
			border: 1px solid #aaa;
		}
	</style>
</head>
<body>
	<%= yield %>
</body>
</html>