<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title>Win Viagra Free Singles!</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<style>
		html {
			font-family:"Roboto";
		}
		pre {
			background-color: #ccc;
			border: 1px solid #aaa;
			display: inline-block;
		}
	</style>
</head>
<body>
	<%= yield %>
</body>
</html>